/* Declaracion de variables */
:root {
    --theme-color: #fff;
    --text-color-inverse: rgb(229, 184, 184);
    --text-color: #000;
    --navbar-shallow-color :#999;
    --menu-mobile-bg-color: rgb(134, 70, 70);
}

/* Seccion de navegacion navbar */
section [id] {
    scroll-margin-top: 70px;
}

/* Hace lenta la transicion */
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--theme-color);
    color: var(--text-color);
    padding-top: 50px;
}

a {
    text-decoration: none;
    color: var(--text-color);
}