.header {
    box-shadow: 0 4px 5px var(--navbar-shallow-color);
    position: fixed;
    background-color: var(--theme-color);
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar  {
    display: flex;
    padding: 10px;
    max-width: 980px;
    margin: 0 auto;
    text-align: center;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 0 15px;
}

.menu a {
    color: var(--text-color);
    /* Centrado de texto */
    line-height: 50px;
    text-transform: uppercase;
    position: relative;
}

.menu a::after {
    content: "";
    background-color: #888;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 3px;
    opacity: 0;
    transition: opacity 0.3s;
}

.menu a.selected::after, .menu a:hover::after {
    opacity: 1;
}

.menu a:hover {
    color: #a4ec77;
    text-decoration: none;
}

#open, #close {
    display: none;
}

/* Definir sizes */
@media (max-width: 950px) {
    .menu {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .menu li {
        padding: 0 15px;
    }
    
    .menu a {
        color: var(--text-color);
        /* Centrado de texto */
        line-height: 50px;
        text-transform: uppercase;
        position: relative;
    }
    
    #open, #close {
        display: none;
    }
}